In [78]:
import pandas as pd
import numpy as np
import os
from pathlib import Path
from tabulate import tabulate

In [79]:
def read_csv (df) : 
    path = Path(os.getcwd()) 
    p_parent = path.parent
    data_path = str(p_parent) + r"\data" + "\\" + str(df) + ".csv"
    df = pd.read_csv(str(data_path))    
    return df

def save_as(df, file_name) : 
    path = Path(os.getcwd()) 
    p_parent = path.parent
    data_path = str(p_parent) + r"\data" + "\\" + file_name + ".csv"
    df.to_csv(data_path, index = False)
    

def tstats (data) :
    output = []
    for col in data.columns:
    
        nonNull  = len(data) - np.sum(pd.isna(data[col]))
        nonNullprop = (nonNull / len(data[col]))*100
        unique = data[col].nunique()
        colType = str(data[col].dtype)
        output.append([col, colType, nonNull, round(nonNullprop, 1) , unique])
            
    
    df_stats = pd.DataFrame(output)
    df_stats.columns = ['nom colonne','dtype', 'valeur non null',"% de non null", 'nb_unique']

    print(tabulate(df_stats, headers='keys', tablefmt='psql'))

In [80]:
result = read_csv('ds_result')
loc = read_csv('customer_loc')

In [81]:
df = result.merge(loc, on = 'customer_unique_id', how='left')

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 92288 entries, 0 to 92287
Data columns (total 29 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   customer_unique_id           92288 non-null  object
 1   nb_order                     92288 non-null  int64
 2   mean_review                  92288 non-null  float64
 3   erreur_estimation_livraison  92288 non-null  float64
 4   temps_commande_livraison     92288 non-null  float64
 5   buy_freq                     92288 non-null  float64
 6   delivery_distance            92288 non-null  float64
 7   Art                          92288 non-null  float64
 8   Books                        92288 non-null  float64
 9   Fashion                      92288 non-null  float64
 10  Food_and_Drinks              92288 non-null  float64
 11  Health_and_beauty            92288 non-null  float64
 12  High_tech                    92288 non-null  float64
 13  Home_supply                  92288 non-null  float64
 14  Other                        92288 non-null  float64
 15  Sport_supply                 92288 non-null  float64
 16  Tools                        92288 non-null  float64
 17  boleto                       92288 non-null  float64
 18  credit_card                  92288 non-null  float64
 19  debit_card                   92288 non-null  float64
 20  voucher                      92288 non-null  float64
 21  avg_bask_price               92288 non-null  float64
 22  Componant 1                  92288 non-null  float64
 23  Componant 2                  92288 non-null  float64
 24  Componant 3                  92288 non-null  float64
 25  Segment_K-means_PCA          92288 non-null  int64
 26  Segment                      92288 non-null  object
 27  customer_lat                 92288 non-null  float64
 28  customer_lng                 92288 non-null  float64
dtypes: float64(25), int64(2), object(2)
memory usage: 21.1+ MB

In [83]:
tstats(df)

+----+-----------------------------+---------+-------------------+-----------------+-------------+
|    | nom colonne                 | dtype   |   valeur non null |   % de non null |   nb_unique |
|----+-----------------------------+---------+-------------------+-----------------+-------------|
|  0 | customer_unique_id          | object  |             92288 |             100 |       92288 |
|  1 | nb_order                    | int64   |             92288 |             100 |           9 |
|  2 | mean_review                 | float64 |             92288 |             100 |          66 |
|  3 | erreur_estimation_livraison | float64 |             92288 |             100 |       88290 |
|  4 | temps_commande_livraison    | float64 |             92288 |             100 |       89939 |
|  5 | buy_freq                    | float64 |             92288 |             100 |         710 |
|  6 | delivery_distance           | float64 |             92288 |             100 |       88041 |
|  7 | Art                         | float64 |             92288 |             100 |          54 |
|  8 | Books                       | float64 |             92288 |             100 |         744 |
|  9 | Fashion                     | float64 |             92288 |             100 |        3654 |
| 10 | Food_and_Drinks             | float64 |             92288 |             100 |         599 |
| 11 | Health_and_beauty           | float64 |             92288 |             100 |        7522 |
| 12 | High_tech                   | float64 |             92288 |             100 |        6763 |
| 13 | Home_supply                 | float64 |             92288 |             100 |       14479 |
| 14 | Other                       | float64 |             92288 |             100 |        6653 |
| 15 | Sport_supply                | float64 |             92288 |             100 |        4817 |
| 16 | Tools                       | float64 |             92288 |             100 |        1523 |
| 17 | boleto                      | float64 |             92288 |             100 |       10434 |
| 18 | credit_card                 | float64 |             92288 |             100 |       25900 |
| 19 | debit_card                  | float64 |             92288 |             100 |        1343 |
| 20 | voucher                     | float64 |             92288 |             100 |        3068 |
| 21 | avg_bask_price              | float64 |             92288 |             100 |       30057 |
| 22 | Componant 1                 | float64 |             92288 |             100 |       92288 |
| 23 | Componant 2                 | float64 |             92288 |             100 |       92288 |
| 24 | Componant 3                 | float64 |             92288 |             100 |       92288 |
| 25 | Segment_K-means_PCA         | int64   |             92288 |             100 |           4 |
| 26 | Segment                     | object  |             92288 |             100 |           4 |
| 27 | customer_lat                | float64 |             92288 |             100 |       15348 |
| 28 | customer_lng                | float64 |             92288 |             100 |       15349 |
+----+-----------------------------+---------+-------------------+-----------------+-------------+

In [84]:
df.describe()

,nb_order,mean_review,erreur_estimation_livraison,temps_commande_livraison,buy_freq,delivery_distance,Art,Books,Fashion,Food_and_Drinks,...,credit_card,debit_card,voucher,avg_bask_price,Componant 1,Componant 2,Componant 3,Segment_K-means_PCA,customer_lat,customer_lng
count,92288.000000,92288.000000,92288.000000,92288.000000,92288.000000,92288.000000,92288.000000,92288.000000,92288.000000,92288.000000,...,92288.000000,92288.000000,92288.000000,92288.000000,9.228800e+04,9.228800e+04,9.228800e+04,92288.000000,92288.000000,92288.000000
mean,1.035779,4.151820,268.666907,300.418819,1.160374,600.108384,0.086087,1.869273,16.053045,0.917684,...,133.264049,2.253191,8.114461,167.554198,-1.176292e-17,-7.740692e-17,-7.163614e-17,0.475652,-21.196109,-46.193299
std,0.217552,1.281085,241.791437,227.056077,11.037143,589.975750,4.911398,50.447040,95.253202,15.609179,...,221.726033,34.697765,103.566456,249.498495,1.629484e+00,1.371120e+00,1.235135e+00,1.058668,5.600084,4.051370
min,1.000000,1.000000,-4535.401944,12.801944,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,10.070000,-1.314655e+00,-1.409044e+01,-5.261036e+01,0.000000,-33.689948,-72.668881
25%,1.000000,4.000000,153.899097,162.512222,0.000000,189.896595,0.000000,0.000000,0.000000,0.000000,...,28.997500,0.000000,0.000000,63.230000,-7.295235e-01,-7.966959e-01,8.726667e-02,0.000000,-23.590041,-48.127645
50%,1.000000,5.000000,285.745417,245.046250,0.000000,434.351254,0.000000,0.000000,0.000000,0.000000,...,82.330000,0.000000,0.000000,107.820000,-3.770412e-01,-2.969896e-01,1.744296e-01,0.000000,-22.924015,-46.633258
75%,1.000000,5.000000,389.638056,375.438194,0.000000,797.365837,0.000000,0.000000,0.000000,0.000000,...,161.182500,0.000000,0.000000,182.125000,1.749980e-01,4.520198e-01,2.537730e-01,0.000000,-20.137976,-43.635297
max,17.000000,5.000000,3504.386944,5000.442222,304.000000,3385.007955,922.690000,10553.280000,4976.640000,3018.600000,...,13664.080000,4445.500000,10370.640000,13664.080000,9.037441e+01,2.498510e+01,2.898551e+01,3.000000,3.842508,-34.799347

In [85]:
save_as(df, 'resultWithLoc')